.header{
  width:100%;
  height: 50px;
  border:solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Title{
  font-family: 'Times New Roman', Times, serif;
}
.most-outer{
  width:100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clicked-btn{
border:none;
border-radius: 20px;
padding-left: 15px;
padding-right: 15px;
padding-top: 4px;
padding-bottom: 4px;
}
.clicked-btn:hover{
  background-color: lightblue;
  color:white
}
.options{
  display: flex;
flex-direction: column;
  gap:5px
}
.pagination{
  margin-top:70px;
  width:100%;
  justify-content: space-between;
}
button.selected{
  background-color: lightgreen;
  color:white;
}
.question{
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.viewScore{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:green;
  font-size: x-large;
}
